@* @model Web_Core.Models.User *@

@* <div class="container mt-4"> *@
@*    <div class="card shadow-lg p-4 text-center"> *@
@*       <h2 class="text-danger">Xóa người dùng</h2> *@
@*       <p class="lead">Bạn có chắc muốn xóa <strong>@Model.Name</strong>?</p> *@

@*       <div> *@
@*          <img src="@Model.AvatarUrl" alt="Avatar" class="img-thumbnail" width="100"> *@
@*       </div> *@

@*       <form asp-action="DeleteConfirmed" method="post"> *@
@*          <input type="hidden" asp-for="ID" /> *@
@*          <button type="submit" class="btn btn-danger px-4">Xóa</button> *@
@*          <a asp-action="Index" class="btn btn-secondary ms-2">Hủy</a> *@
@*       </form> *@
@*    </div> *@
@* </div> *@
