@model int

<div class="container mt-5 text-center">
   <h2 class="text-success">
      ✅ Đặt hàng thành công!
   </h2>
   <p class="fs-5">
      Đơn hàng với mã <strong class="text-primary">@Model</strong> đã được đặt thành công.
   </p>

   <a href="/" class="btn btn-outline-primary mt-3">
      <i class="bi bi-house-door-fill"></i> Quay về trang chủ
   </a>
</div>
